@font-face {
  font-family: "CustomFont";
  src: url("./font.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 80%;
  height: 75%;
  background-image: url("./background.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid white;
  display: grid;
  grid-template-rows: 1.5fr 3.5fr;
  font-family: "CustomFont", sans-serif;
}

.fa-solid.fa-volume-high {
  display: none;
}

.heading-container {
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.heading-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-container i:hover {
  cursor: pointer;
}

.tournament-heading {
  position: relative;
  animation: headingAnimation 1s infinite ease-in-out;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  font-family: "CustomFont", sans-serif;
  font-size: 18.5px;
  padding: 28px;
  margin-bottom: 50px;
}

.play-again {
  display: none;
}

.play-button, .play-again:hover {
  cursor: pointer;
}


.play-msg {
  visibility: hidden;
  font-size: 19px;
}

.proceed-msg,
.knockouts-msg,
.draw-msg,
.semi-finals-msg,
.finals-msg {
  display: none;
  font-size: 19px;
}

.play-msg:hover,
.proceed-msg:hover,
.knockouts-msg:hover,
.draw-msg:hover,
.semi-finals-msg:hover,
.finals-msg:hover {
  cursor: pointer;
}

.groups-container,
.group-stage-container,
.quarter-finals-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-container {
  font-size: 13px;
}

.statistics-container td {
  padding: 2.5px;
  color: #fff;
  text-align: center;
}

.statistics-container th {
  padding: 3.5px;
}

.draw-container {
  margin-bottom: 20px;
}

.draw-container h3 {
  margin: 10px 0px;
}

.draw-container p {
  margin: 5px;
  padding-left: 20px;
  color: #fff;
}

.group-card {
  width: 250px;
  height: 220px;
  margin: 20px;
  border: 3.5px solid black;
  font-size: 19px;
}

.group-stage-card {
  font-size: 14px;
  height: 225px;
  margin: 15px;
}

.group-card h3,
.group-stage-card h3 {
  font-weight: 600;
  text-align: center;
  margin-top: 8px;
}

.group-card p,
.group-stage-card p {
  color: #fff;
  margin: 12px;
  text-align: center;
}

@keyframes headingAnimation {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
